mlruns
mlops/.simulation
.venv

*.mp3
*.wav
.chroma
*/__pycache__/
__pycache__/
*.pyc
*.pdf
*/.env
version_test.ipynb
/.idea
/.python-version
.env
*/psycopg2
*/psycopg2-2.9.9.dist-info
*.tar.gz
mlartifacts
/mlartifacts/
/.secret/
*.ipynb
logs.log
